---
import { getCollection } from "astro:content";
import { compareDesc } from "date-fns";
import PostList from "../components/PostList.astro";
import Layout from "../components/Layout.astro";

const posts = (await getCollection("blog"))
  .filter((p) => !p.data.draft)
  .sort((a, b) => compareDesc(a.data.date, b.data.date));
---

<Layout>
  <p class="mb-8 pt-2 font-serif dark:text-gray-400">
    Welcome to my blog! This is where I write about music and coding stuff that
    I find interesting.
  </p>
  <PostList posts={posts} />
</Layout>
