---
const today = new Date();
---

<div
  class="fixed bottom-0 w-full py-4 font-serif bg-slate-900 dark:bg-slate-800 text-white flex justify-center items-center"
>
  <p class="leading-none">
    <a href="https://github.com/felixroos">
      ❤️ {today.getFullYear()} Felix Roos
    </a>{" "}
  </p>
</div>
<footer></footer>
