<header
  class="z-[1999] sticky top-0 bg-slate-900 dark:bg-slate-800 font-semibold p-2 text-white flex justify-center shadow-xl border-b border-gray-500 dark:border-gray-800"
>
  <div class="max-w-5xl w-full p-2 flex justify-between items-center">
    <h1 class="sm:text-3xl text-2xl">
      <a href={"/"} class="flex items-center">
        <img src="/logo.png" alt="Logo" class="h-10 w-10 mr-3 relative" />
        loophole letters
      </a>{" "}
    </h1>
    <!-- <ThemeSwitch /> -->
  </div>
</header>
