---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en" class="h-screen">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-full flex flex-col justify-stretch">
    <Header />
    <div
      class="grow flex justify-center overflow-auto dark:bg-slate-900"
    >
      {/* typeof theme.colors.modes === 'object' && <ThemeToggle /> */}
      {/* TODO: toggle dark mode */}
      <main class="flex-0  max-w-full w-full sm:max-w-5xl p-2 break-words py-8">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
