---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="flex justify-center min-h-full dark:bg-slate-900 py-4 pb-16">
      {/* typeof theme.colors.modes === 'object' && <ThemeToggle /> */}
      {/* TODO: toggle dark mode */}
      <main class="max-w-full overflow-auto sm:max-w-3xl p-2 break-words">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
